nav, body {
  background-color: black
}

p{
  text-align: justify;
}

h5, h3, h1{
  text-align: center;
  margin: 10px;
  font-family: 'Oswald', sans-serif;
}

h6{
  font-family: 'Oswald', sans-serif;
  margin: 8px;
}

#first-item, #projectList, .card{
  align-items: center;
}

#first {
  background-image: url("images/artur-d-582550-unsplash.jpg");
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}


#photo-profil {
  background-image: url("images/photo_cv.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 10%;
  margin-bottom: 20px;
  background-position: center;
}

.fab{
  margin-right: 10px;
  height: 10px;
  width: 10px;
}

.barre, .card, .card-img-top{
  margin: 10px;
}

.card{
  border-radius: 3%;
  background-color: gainsboro;
  height: 800px;;
}

img {
  justify-content: center;
  border-radius: 3%;
  height: 300px;
  width: 250px;
}

.but{
  margin: 2px;
}

#projectList, #form, .card-body, .forButton{
  justify-content: center;
}

.forButton{
  display: flex
}

.card-body{
display: flex;
flex-direction: column;
justify-content: space-between;
}

@media only screen and (max-width: 600px){
   h3, h1, h6{
    font-size: 300%;
    margin: 4px;
  }

  #photo-profil{
    align-self: center;
  }

  .row{
    justify-content: center;
  }

  #first{
    height: 200px;
  }
}


